.theme{
    background: #191919;
}
.theme h1{
    color: #f1f1f1;
}
.theme nav {
    background: #454545;
}
button{
    height: 40px;
    width: auto;
    margin-left: 20px;
    padding: 5px;
}
.material-symbols-outlined {
font-variation-settings:
'FILL' 0,
'wght' 400,
'GRAD' 0,
'opsz' 48
}